<h1>New bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.input :movie_id, collection: Movie.all, label_method: :title, value_method: :id %>
  <%= f.submit "Create bookmark", class: "btn btn-primary" %>
  <%= link_to "Back to list", list_path(@list), class: "btn btn-secondary" %>
<% end %>